<div class="navigation"> <!-- creating navigation -->
        <ul>
             <li><a href="https://cs00932-com2025-project-casselwood.c9users.io">Home</a></li>
            <li><a href="https://cs00932-com2025-project-casselwood.c9users.io/contact">Contact Us</a></li>
            <li><a href="https://cs00932-com2025-project-casselwood.c9users.io/modules">Module Selection</a></li>
        </ul>
    </div>

<h1>Editing Option</h1>

<%= render 'form' %> <!-- display form to edit module option -->

<%= link_to 'Show', @option %> | <!-- link 'show' to the option -->
<%= link_to 'Back', options_path %> <!-- link 'back' to the options page -->
