<div class="navigation"> <!-- creating navigation -->
        <ul>
            <li><a href="https://cs00932-com2025-project-casselwood.c9users.io">Home</a></li>
            <li><a href="https://cs00932-com2025-project-casselwood.c9users.io/contact">Contact Us</a></li>
            <li><a href="https://cs00932-com2025-project-casselwood.c9users.io/modules">Module Selection</a></li>
        </ul>
    </div>

<h1>New Option</h1> <!-- creating header -->

<%= render 'form' %> <!-- input form -->

<%= link_to 'Back', options_path %> <!-- link 'back' to the options page -->

